@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --Dark-blue: hsl(218, 44%, 22%)
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}
h1 {
  color: var(--Dark-blue);
  font-weight: 700;
  text-align: center;
  font-size: 20px;
}
p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
#grey {
  color: hsl(220, 15%, 55%);
}
/* Mobile styles */
@media only screen and (max-width: 375px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(147, 147, 147, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white; 
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 170px;
    padding-bottom: 25px;
  }
  .img {
    border-radius: 15px;
    width: 100%;
  }
}

/* Desktop styles */
@media only screen and (min-width: 376px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(147, 147, 147, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white; 
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 170px;
    padding-bottom: 25px;
  }
  .img {
    border-radius: 15px;
    width: 100%;
  }
}